# dependencies
/node_modules

# Next.js build output
/.next
/out

# local environment files
.env*
!.env.example

# tooling and operating system files
.DS_Store
*.log
.vercel

# TypeScript cache
*.tsbuildinfo
